@import "tailwindcss";
@custom-variant light (&:where(.light, .light *));

* {
  transition-property: color, background-color, border-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
